RewriteEngine On

# Estas son las líneas que vamos a apagar temporalmente
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteCond %{HTTPS}s ^on(s)|
# RewriteRule ^(.*)$ http%1://www.%{HTTP_HOST}/$1 [R=301,L]

ErrorDocument 404 /assets/scripts/manejador_404.php